.audioWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


@media only screen and (min-width: 768px) {
    .audioWrapper {
        padding-bottom: 3%;
    }
}