.audioWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.galleryWrapper {
    max-width: 100%;
    padding: 15px 30px;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
}

.galleryWrapper > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.largeImg {
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: row;
    z-index: 10;
    max-height: 100vh;
    max-width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2%;
}

.largeImg > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

.imageWrapper {
    position: absolute;
    z-index: 0;
}

.galleryOverlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.galleryOverlay > img {
    z-index: inherit;
    position: absolute;
    height: 25%;
    right: 5%;
    bottom: 5%;
    opacity: 0.75;
}

@media only screen and (min-width: 768px) {
    .audioWrapper {
        padding-bottom: 3%;
    }

    .galleryWrapper {
        height: 300px;
        padding: 15px;
    }

    .galleryWrapper > img {
        cursor: pointer;
    }

    .galleryOverlay {
        background-color: rgba(0,0,0,0.4);
    }

    .galleryOverlay > img {
        height: 20%;
    }

    .galleryOverlay:not(:hover) {
        background-color: transparent;
    }

    .galleryOverlay:not(:hover) > img {
        opacity: 0.5;
    }
}