.imgCyclerM, .cyclerBgImgContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    overflow: hidden;
    justify-content: center;
    /* align-items: center; */
}

.imgCyclerM {
    z-index: -3;
}

.cyclerBgImgContainer {
    z-index: -5;
}

.imgCyclerM > img, .cyclerBgImg {
    filter: blur(calc(var(--scrolled) * 10px));
    flex-shrink: 0;
    width: calc(100vw + ((1 - var(--scrolled)) * 10vw));
    height: calc(100vh + ((1 - var(--scrolled)) * 10vh));
    z-index: inherit;
    object-fit: cover;
}

.imgCyclerM > img {
    opacity: calc(1 - var(--scrolled));
}

.cyclerBgImg {
    opacity: 1;
}

/* img cycler sliding animations */

@media (prefers-reduced-motion: no-preference) {
    .animate-to-left{position:relative;animation:animatetoleft 0.4s}@keyframes animatetoleft{from{transform: translateX(-100%);} to{transform: translateX(0%);}}
    .animate-to-right{position:relative;animation:animatetoright 0.4s}@keyframes animatetoright{from{transform:translateX(100%);} to{transform:translateX(0%);}}
}

.landingContent {
    width: 100vw;
    height:100vh
}

.goLeft, .goRight, .burger, .contact {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
}

.contact {
    width: fit-content;
}

.contactWrapper {
    position: absolute;
    bottom: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.goLeft {
    left: 5vw;
}

.goRight {
    right: 5vw;
}

.goLeft, .goRight, .burger {
    padding: 12px;
    padding-bottom: 6px;
    position: absolute;
}

.goLeft, .goRight {
    top: 50vh;
}

.scrollContent {
    position: absolute;
    top: 100vh;
    width: 100vw;
    background: none;
}

.textBoxWrapper {
    padding-bottom: 60px;
    display: grid;
    justify-content: center;
}

.textBox {
    width: 80vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 15px;
    border-radius: 15px;
}

@media only screen and (min-width: 768px) {

    .contentContainer-3 > .textBoxWrapper {
        width: 29vw;
    }

    .contentContainer-3 > .textBoxWrapper > .textBox {
        width: 29vw;
    }

    .textBox {
        width: 40vw;
        cursor: pointer;
    }

    .textBox:hover {
        transform: scale(1.04);
        transition: all 0.1s;
    }

    .goLeft:hover, .goRight:hover {
        transform: scale(1.2);
        transition: all 0.1s;
    }

    .contact:hover {
        transform: scale(1.1);
        transition: all 0.1s;
    }
}

a {
    color: white
}

div[class^='contentContainer'] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}