.BandLogoWrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
    white-space: nowrap;
}

.BandLogoV {
    transform: scaleY(-1) translateY(2%) translateX(5%);
}

.BandLogoNormal, .BandLogoV {
    color: white;
}