.imgCyclerM {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.imgCyclerM > img {
    filter: blur(calc(var(--scrolled) * 10px));
    flex-shrink: 0;
    width: 100vw;
    height: 100vh;
    z-index: inherit;
}

.landingContent {
    width: 100vw;
    height:100vh
}

.goLeft {
    left: 5vw;
}

.goRight {
    right: 5vw;
}

.goLeft, .goRight {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 12px;
    padding-bottom: 6px;
    position: absolute;
    top: 50vh;
}

.imgCyclerM > img {
    object-fit: cover
}

.scrollContent {
    position: absolute;
    top: 100vh;
    width: 100vw;
    background: none;
}

.textBoxWrapper {
    padding-bottom: 10vw;
    display: grid;
    justify-content: center;
}

.textBox {
    width: calc(80vw - 30px);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    border-radius: 15px;
}

a {
    color: white
}

.socials {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.socialContainer {
    display: grid;
    width: 50%;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    padding-bottom: 10vw;
}

.iconContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 2vw;
}

.icon {
    background-color: darkred;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 20vw;
    height: 20vw;
    border-radius: 5vw;
}
